#@ load("@ytt:data", "data")
#@ load("@ytt:overlay", "overlay")
#@ load("@ytt:yaml", "yaml")

#! 1. Decode/parse the contents of the `contour.yaml` key within the ConfigMap.
#! 2. Overlay the decoded/parsed YAML with the custom configuration.
#! 3. Re-encode the overlayed result to a string.

#@overlay/match by=overlay.subset({"kind":"ConfigMap", "metadata":{"name":"contour"}})
---
data:
  #@overlay/replace via=lambda left, _: yaml.decode(left)
  contour.yaml:

#@ if data.values.tracing.enabled:
#@overlay/match by=overlay.subset({"kind":"ConfigMap", "metadata":{"name":"contour"}})
---
data:
  #@overlay/match-child-defaults missing_ok=True
  contour.yaml:
    tracing:
      extensionService: #@ "{}/otel-collector".format(data.values.namespace)
#@ end

#@overlay/match by=overlay.subset({"kind":"ConfigMap", "metadata":{"name":"contour"}})
---
data:
  #@overlay/match-child-defaults missing_ok=True
  contour.yaml: #@ data.values.contour.configMapData

#@overlay/match by=overlay.subset({"kind":"ConfigMap", "metadata":{"name":"contour"}})
---
data:
  #@overlay/replace via=lambda left, _: yaml.encode(left)
  contour.yaml:
